
.toolbar {
  height:60px;
  margin:0;
  padding:0;
  display:flex;
}

.button {
  height:100%;
  width:100%;
  padding:auto;
  border:solid 1px black;
  text-align:center;
  background:#dddddd;
  position:relative;
}
  
.activeButton {
  background:#aaaaaa;
}

.buttonLabel {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding:0;
}

.colorPickerContainer {
  position: absolute; 
  top:-210px;
  
  margin:auto;
  left: 30px; 

  height:200px;
  width: 200px;
}
  
.unCollapsed {
  position:absolute;
  width:100%;
  background:#cdcdcd;
  bottom:60px;
  border:1px solid black;
}

.saveMenuButton {
  width:100%;
  border: 1px solid black;
  text-align:center;
  padding:0.5em 0;
}