html, body {
  margin: 0;
  box-sizing:border-box;
  height:100%;
  padding:0;
  background-color:#eeeefff;
  

font-family: 'Kanit', sans-serif;
font-weight:200; 

/*font-family: 'Lora', serif; 
 */

  }

